* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(/images/background.jpg);
  background-position: center;
  background-size: cover;
}
.container {
  position: relative;
  width: 400px;
  height: 100px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  padding: 20px;
  color: #fff;
  transition: height 0.6s ease;
}
.search-box {
  position: relative;
  width: 100%;
  height: 55px;
  /* background: slateblue; */
  display: flex;
  align-items: center;
}
.search-box i {
  position: absolute;
  left: 10px;
  font-size: 28px;
  color: #fff;
}
.search-box input {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  font-size: 22px;
  outline: none;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0 48px 0 42px;
}
.search-box input::placeholder {
  color: #fff;
  text-transform: capitalize;
}
.search-box button {
  position: absolute;
  right: 0;
  width: 45px;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 30px;
  cursor: pointer;
  padding: 0 30px 25px 3px;
  font-size: 28px;
  color: #fff;
}
.weather-box {
  text-align: center;
  margin: 40px auto;
}
.weather-box,
.weather-details,
.not-found {
  visibility: hidden;
}
.weather-box.active,
.weather-details.active,
.not-found.active {
  visibility: visible;
}
.weather-box img {
  width: 60%;
}
.weather-box .temperature {
  position: relative;
  font-size: 64px;
  line-height: 1;
  font-weight: 700;
  margin: 20px 0 6px -30px;
}
.weather-box .temperature span {
  position: absolute;
  font-size: 24px;
  bottom: 50px;
  margin-left: 5px;
}
.description {
  font-size: 22px;
  font-weight: 500;
  text-transform: capitalize;
}
.weather-details {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0 20px;
  display: flex;
}
.weather-details .humidity,
.weather-details .wind {
  display: flex;
  align-items: center;
  width: 50%;
}
.weather-details .humidity {
  padding-left: 20px;
  justify-content: flex-start;
}
.weather-details .wind {
  padding-right: 20px;
  justify-content: flex-end;
}
.weather-details i {
  font-size: 56px;
  margin-right: 10px;
}
.weather-details span {
  display: inline-block;
  font-size: 22px;
  font-weight: 500;
}
.weather-details p {
  font-size: 14px;
  font-weight: 500;
}
.not-found {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  margin-top: 110px;
}
.not-found img {
  width: 65%;
}
.not-found p {
  font-size: 22px;
  font-weight: 500;
  margin-top: 25px;
}
